
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="google-site-verification" content="UzLAOvN92N2iaw_7HcFXSOc_M-WIe3KFXaozuaNsZo4" />

    <title>Visualizer</title>

    <link href="https://halite.io/lib/bootstrap.min.css" rel="stylesheet">
    <link href="https://halite.io/style/general.css" rel="stylesheet">
</head>
<body>
    <div id="container" class="container">

<div id="messageBox"></div>

<div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="myModalLabel">Halite Submission Instructions</h1>
            </div>
            <div class="modal-body">
                <h3>Name your main file <b>MyBot</b> with an appropriate file extension (e.g. MyBot.java).</h3>
                <h3>Make sure that you aren't using stdout or stdin (print, cout, System.out.print, etc), which will cause your bot to fail. Instead, use <a href="guides_development.php">a log file</a>.</h3>
                <h3>Upload a <b>zip file</b> of your source code.</h3>
                <h3>Once we have compiled your code, you will get an email notification.</h3>
                <button id="submitModalButton" type="button" class="btn btn-primary">Submit!</button>
            </div>
        </div>
    </div>
</div>
        <div id="pageContent" class="pageContent text-center">
            <div id='dropZone' class="col-sm-12 text-center">
                <span class="glyphicon glyphicon-cloud-upload" style="font-size: 10em;"></span>
                <h2 style="margin-top: 20px;">Drop or upload a replay file here</h2>

                <label for="filePicker" class="btn btn-primary">Select File</label>
                <input type="file" id="filePicker" style="display: none;">
            </div>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/seedrandom/2.4.0/seedrandom.min.js"></script>
    <script src="https://halite.io/script/general.js"></script>
    <script src="https://halite.io/script/backend.js"></script>
    <script src="https://halite.io/lib/pixi.min.js"></script>
    <script src="https://halite.io/script/parsereplay.js"></script>
    <script src="https://halite.io/script/visualizer.js"></script>
    <script src="https://halite.io/script/localVisualizer.js"></script>
    <script>
        var loadedName = ''
        var counter = 0
        setInterval(function() {
            $.get('/latest?f=' + loadedName).then(function(data) {
                if (data.name && data.name.length) {
                    if (data.name !== loadedName) {
                        if (counter++ > 10) {
                            location.reload()
                            return
                        }
                        loadedName = data.name
                        var $dropZone = $("#dropZone");
                        $dropZone.remove();
                        showGame(textToGame(JSON.stringify(data.data), loadedName), $("#pageContent"), null, null, true, false, true);
                        document.onkeydown({ keyCode: 88 })
                        document.onkeydown({ keyCode: 32 })
                    }
                }
            })
        }, 500)
    </script>
</body>
</html>
